In [1]:
import numpy as np
import pandas as pd

**1. 通过Dictionary创建DataFrame**

In [8]:
d = {"c1": [1,2,3], "c2":[4,5,6]}

这里的Dictionary的values的type要为list，如果为set会在设置dtype时会有问题

In [9]:
df = pd.DataFrame(data = d)

In [10]:
df

   c1  c2
0   1   4
1   2   5
2   3   6

In [11]:
df.dtypes

c1    int64
c2    int64
dtype: object

In [31]:
df = pd.DataFrame(data = d, dtype=np.float32)

In [32]:
df.dtypes

c1    float32
c2    float32
dtype: object

In [33]:
abs(df)

    c1   c2
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

In [34]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(3, 2)),  columns=['a', 'b'])

In [35]:
df2

   a  b
0  8  6
1  8  0
2  0  4

In [36]:
df3 = pd.concat([df, df2], axis = 1)

In [37]:
df3.dtypes

c1    float32
c2    float32
a       int64
b       int64
dtype: object

In [38]:
df3.count()

c1    3
c2    3
a     3
b     3
dtype: int64

In [49]:
for col in df3.columns:
    print (df3[col])

0    1.0
1    2.0
2    3.0
Name: c1, dtype: float32
0    4.0
1    5.0
2    6.0
Name: c2, dtype: float32
0    8
1    8
2    0
Name: a, dtype: int64
0    6
1    0
2    4
Name: b, dtype: int64