In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Python Spark SQL Hive integration example").getOrCreate()

In [2]:
sampleData = [("bob","Developer",125000),("mark","Developer",108000),("carl","Tester",70000),("peter","Developer",185000),("jon","Tester",65000),("roman","Tester",82000),("simon","Developer",98000),("eric","Developer",144000),("carlos","Tester",75000),("henry","Developer",110000)]

df = spark.createDataFrame(sampleData, schema=["Name","Role","Salary"])

In [3]:
df.show()

+------+---------+------+
|  Name|     Role|Salary|
+------+---------+------+
|   bob|Developer|125000|
|  mark|Developer|108000|
|  carl|   Tester| 70000|
| peter|Developer|185000|
|   jon|   Tester| 65000|
| roman|   Tester| 82000|
| simon|Developer| 98000|
|  eric|Developer|144000|
|carlos|   Tester| 75000|
| henry|Developer|110000|
+------+---------+------+

In [5]:
df.approxQuantile("Salary", [0.5], 0.01)

[98000.0]

In [14]:
df.select(df.columns).filter("Salary is not null").select("Salary").count()

10

In [17]:
df.select("Salary").filter("Salary is not null").select("Salary").count()

10