In [2]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("python spark create table example").enableHiveSupport().getOrCreate()

In [7]:
def create_table(df, tmp_table_name):
    df.registerTempTable(tmp_table_name)
    spark.sql('create table if not exists ' + tmp_table_name + '  as select * from ' +
                     tmp_table_name)

In [8]:
sampleData = [("bob","Developer",125000),("mark","Developer",108000),("carl","Tester",70000),("peter","Developer",185000),("jon","Tester",65000),("roman","Tester",82000),("simon","Developer",98000),("eric","Developer",144000),("carlos","Tester",75000),("henry","Developer",110000)]
df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"])

In [ ]:
create_table(df, tmp_table_name)