# Create Table

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, StringType, IntegerType
spark = SparkSession.builder.appName('create_table_test').getOrCreate()

In [2]:
sampleData = [("bob","Developer",125000),
              ("mark","Developer",108000),
              ("carl","Tester",70000),
              ("peter","Developer",185000),
              ("jon","Tester",65000),
              ("roman","Tester",82000),
              ("simon","Developer",98000),
              ("eric","Developer",144000),
              ("carlos","Tester",75000),
              ("henry","Developer",110000)]

df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"])
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- job: string (nullable = true)
 |-- salary: long (nullable = true)

In [4]:
schema = StructType([
    StructField('name', StringType(), True),
    StructField('job', StringType(), True),
    StructField('salary', IntegerType(), True)
])

df = spark.createDataFrame(sampleData, schema = schema)
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- job: string (nullable = true)
 |-- salary: integer (nullable = true)

# Drop columns

In [15]:
sampleData = [("bob","Developer",125000),
              ("mark","Developer",108000),
              ("carl","Tester",70000),
              ("peter","Developer",185000),
              ("jon","Tester",65000),
              ("roman","Tester",82000),
              ("simon","Developer",98000),
              ("eric","Developer",144000),
              ("carlos","Tester",75000),
              ("henry","Developer",110000)]

df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"])
df = df.drop('name', 'job')
df.show()

+------+
|salary|
+------+
|125000|
|108000|
| 70000|
|185000|
| 65000|
| 82000|
| 98000|
|144000|
| 75000|
|110000|
+------+

# To pandas

In [2]:
sampleData = [("bob","Developer",125000),
              ("mark","Developer",108000),
              ("carl","Tester",70000),
              ("peter","Developer",185000),
              ("jon","Tester",65000),
              ("roman","Tester",82000),
              ("simon","Developer",98000),
              ("eric","Developer",144000),
              ("carlos","Tester",75000),
              ("henry","Developer",110000)]

df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"]).toPandas()
df

     name        job  salary
0     bob  Developer  125000
1    mark  Developer  108000
2    carl     Tester   70000
3   peter  Developer  185000
4     jon     Tester   65000
5   roman     Tester   82000
6   simon  Developer   98000
7    eric  Developer  144000
8  carlos     Tester   75000
9   henry  Developer  110000

In [3]:
# print dataframe line by line

In [9]:
sampleData = [("bob","Developer",125000),
              ("mark","Developer",108000),
              ("carl","Tester",70000),
              ("peter","Developer",185000),
              ("jon","Tester",65000),
              ("roman","Tester",82000),
              ("simon","Developer",98000),
              ("eric","Developer",144000),
              ("carlos","Tester",75000),
              ("henry","Developer",110000)]

df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"])
for line in df.collect():
    print( line[0] )

bob
mark
carl
peter
jon
roman
simon
eric
carlos
henry

In [13]:
df.show()

+------+---------+------+
|  name|      job|salary|
+------+---------+------+
|   bob|Developer|125000|
|  mark|Developer|108000|
|  carl|   Tester| 70000|
| peter|Developer|185000|
|   jon|   Tester| 65000|
| roman|   Tester| 82000|
| simon|Developer| 98000|
|  eric|Developer|144000|
|carlos|   Tester| 75000|
| henry|Developer|110000|
+------+---------+------+

# fill extra column with constant

In [26]:
from pyspark.sql.functions import lit
df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"])
df = df.withColumn('version', lit(100))
df.show()

+------+---------+------+-------+
|  name|      job|salary|version|
+------+---------+------+-------+
|   bob|Developer|125000|    100|
|  mark|Developer|108000|    100|
|  carl|   Tester| 70000|    100|
| peter|Developer|185000|    100|
|   jon|   Tester| 65000|    100|
| roman|   Tester| 82000|    100|
| simon|Developer| 98000|    100|
|  eric|Developer|144000|    100|
|carlos|   Tester| 75000|    100|
| henry|Developer|110000|    100|
+------+---------+------+-------+

# left join

In [33]:
from pyspark.sql.functions import col
sampleData2 = [("bob","Developer",125000),
              ("mark","Developer",108000),
              ("carl","Tester",70000),
              ("peter","Developer",185000)]

df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"])
df2 = spark.createDataFrame(sampleData2, schema = ["name2", "job2", "salary2"])
df = df.join(df2, col('name') == col('name2'), 'left')
df.show()

+------+---------+------+-----+---------+-------+
|  name|      job|salary|name2|     job2|salary2|
+------+---------+------+-----+---------+-------+
| peter|Developer|185000|peter|Developer| 185000|
| simon|Developer| 98000| null|     null|   null|
|carlos|   Tester| 75000| null|     null|   null|
|  eric|Developer|144000| null|     null|   null|
| roman|   Tester| 82000| null|     null|   null|
|   jon|   Tester| 65000| null|     null|   null|
|  mark|Developer|108000| mark|Developer| 108000|
|  carl|   Tester| 70000| carl|   Tester|  70000|
|   bob|Developer|125000|  bob|Developer| 125000|
+------+---------+------+-----+---------+-------+

# Fill null

In [90]:
df.fillna(0).show()

+------+---------+------+-----+---------+-------+
|  name|      job|salary|name2|     job2|salary2|
+------+---------+------+-----+---------+-------+
| henry|Developer|110000| null|     null|      0|
| peter|Developer|185000|peter|Developer| 185000|
| simon|Developer| 98000| null|     null|      0|
|carlos|   Tester| 75000| null|     null|      0|
|  eric|Developer|144000| null|     null|      0|
| roman|   Tester| 82000| null|     null|      0|
|   jon|   Tester| 65000| null|     null|      0|
|  mark|Developer|108000| mark|Developer| 108000|
|  carl|   Tester| 70000| carl|   Tester|  70000|
|   bob|Developer|125000|  bob|Developer| 125000|
+------+---------+------+-----+---------+-------+

In [35]:
a = [['a', 1], ['b', 2]]
import json
b = json.dumps(a)

In [38]:
c = json.loads(b)

In [39]:
type(c)

list

In [40]:
type(c[0])

list

In [41]:
type(b)

str

In [82]:
df1 = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"]).rdd
df2 = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"]).rdd
df1.union(df2)

UnionRDD[476] at union at NativeMethodAccessorImpl.java:0

In [83]:
res = df1.map(lambda x: [(x[0], x[1], x[2]), 1]).reduceByKey(lambda x1, x2: x1+x2)

In [84]:
res.take(2)

[(('bob', 'Developer', 125000), 1), (('mark', 'Developer', 108000), 1)]

In [85]:
type(res)

pyspark.rdd.PipelinedRDD

In [86]:
res = res.map(lambda x: (x[0][0], x[0][1], x[0][2], x[1]))#.toDF()

In [87]:
res.collect()

[('bob', 'Developer', 125000, 1),
 ('mark', 'Developer', 108000, 1),
 ('carl', 'Tester', 70000, 1),
 ('peter', 'Developer', 185000, 1),
 ('jon', 'Tester', 65000, 1),
 ('roman', 'Tester', 82000, 1),
 ('simon', 'Developer', 98000, 1),
 ('eric', 'Developer', 144000, 1),
 ('carlos', 'Tester', 75000, 1),
 ('henry', 'Developer', 110000, 1)]

# Cache

* Caching is very useful for **applications that re-use an RDD multiple times.**
* **Caching all of the generated RDDs is not a good strategy** as useful cached blocks may be evicted from the cache well before being re-used. For such cases, additional computation time is required to re-evaluate the RDD blocks evicted from the cache.
* **Given a large list of RDDs that are being used multiple times, deciding which ones to cache may be challenging. When memory is scarce, it is recommended to use MEMORY_AND_DISK caching strategy** such that evicted blocks from cache are saved to disk. Reading the blocks from disk is generally faster than re-evaluation. If extra processing cost can be afforded, MEMORY_AND_DISK_SER can further reduce the memory footprint of the cached RDDs.
* If certain RDDs have very large evaluation cost, it is recommended to replicate them to another node. This will boost significantly performance in the case of a node failure, since re-evaluation can be skipped.

In [6]:
import numpy as np
import time
time1 = time.time()
pairs1 = spark.sparkContext.parallelize([x for x in range(1000000)], 10).flatMap( lambda x: [(x//2, x)]
                                                                ).cache()

for i in range(100):
    pairs1.count()
print("Count result %s"% pairs1.groupByKey().count())
time2 = time.time()
print(time2-time1)

time1 = time.time()
pairs1 = spark.sparkContext.parallelize([x for x in range(1000000)], 10).flatMap( lambda x: [(x//2, x)]
                                                                )
for i in range(100):
    pairs1.count()
print("Count result %s"% pairs1.groupByKey().count())
time2 = time.time()
print(time2-time1)

Count result 500000
38.809606313705444
Count result 500000
46.60890793800354

# approxQuantile

In [30]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL Hive integration example").getOrCreate()
sampleData = [("bob","Developer",125000),("mark","Developer",108000),("carl","Tester",70000),
              ("peter","Developer",185000),("jon","Tester",65000),("roman","Tester",82000),
              ("simon","Developer",98000),("eric","Developer",144000),("carlos","Tester",75000)]
df = spark.createDataFrame(sampleData, schema=["Name","Role","Salary"])
df.show()

+------+---------+------+
|  Name|     Role|Salary|
+------+---------+------+
|   bob|Developer|125000|
|  mark|Developer|108000|
|  carl|   Tester| 70000|
| peter|Developer|185000|
|   jon|   Tester| 65000|
| roman|   Tester| 82000|
| simon|Developer| 98000|
|  eric|Developer|144000|
|carlos|   Tester| 75000|
+------+---------+------+

In [32]:
df = spark.createDataFrame(sampleData, schema=["Name","Role","Salary"])
print( [x[0] for x in sorted(df.select('Salary').collect(), reverse=True)] ) 
print('中位数: %s' % df.approxQuantile("Salary", [0.5], 0.01)) # 第三个值代表误差
print('四分位数: %s' % df.approxQuantile("Salary", [0.25], 0.01))

[185000, 144000, 125000, 108000, 98000, 82000, 75000, 70000, 65000]
中位数: [98000.0]
四分位数: [75000.0]

# mapPartitions
**mapPartitions transformation is faster than map since it calls your function once/partition, not once/element.**
* Example Scenario : 
    * if we have 100K elements in a particular RDD partition then we will fire off the function being used by the mapping transformation 100K times when we use map.

    * Conversely, if we use mapPartitions then we will only call the particular function one time, but we will pass in all 100K records and get back all responses in one function call.

    * There will be performance gain since map works on a particular function so many times, especially if the function is doing something expensive each time that it wouldn't need to do if we passed in all the elements at once(in case of mappartitions).

In [3]:
def func(part):
    result = []
    for row in part:
        result.append(list(row))
    return result
sampleData = [("bob","Developer",125000),("mark","Developer",108000),("carl","Tester",70000),
              ("peter","Developer",185000),("jon","Tester",65000),("roman","Tester",82000),
              ("simon","Developer",98000),("eric","Developer",144000),("carlos","Tester",75000),
              ("henry","Developer",110000)]
df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"])
df = df.repartition(3)
df = df.rdd.mapPartitions(func).toDF()
df.show()

+------+---------+------+
|    _1|       _2|    _3|
+------+---------+------+
|  carl|   Tester| 70000|
| roman|   Tester| 82000|
|carlos|   Tester| 75000|
|   bob|Developer|125000|
| peter|Developer|185000|
| simon|Developer| 98000|
| henry|Developer|110000|
|  mark|Developer|108000|
|   jon|   Tester| 65000|
|  eric|Developer|144000|
+------+---------+------+

In [4]:
df = spark.createDataFrame(sampleData, schema = ["name", "job", "salary"])
df = df.coalesce(3)
df = df.rdd.mapPartitions(func).toDF()
df.show()

+------+---------+------+
|    _1|       _2|    _3|
+------+---------+------+
|   bob|Developer|125000|
|  mark|Developer|108000|
|  carl|   Tester| 70000|
| peter|Developer|185000|
|   jon|   Tester| 65000|
| roman|   Tester| 82000|
| simon|Developer| 98000|
|  eric|Developer|144000|
|carlos|   Tester| 75000|
| henry|Developer|110000|
+------+---------+------+

## Compare repartitions and coalesce
### coalesce
The coalesce avoids a full shuffle. If it's known that the number is decreasing then the executor can safely keep data on the minimum number of partitions, only moving the data off the extra nodes, onto the nodes that we kept.

So, it would go something like this:
```
Node 1 = 1,2,3
Node 2 = 4,5,6
Node 3 = 7,8,9
Node 4 = 10,11,12
```
Then coalesce down to 2 partitions:
```
Node 1 = 1,2,3 + (10,11,12)
Node 3 = 7,8,9 + (4,5,6)
```
### repartitions
The repartition algorithm does a full shuffle and creates new partitions with data that's distributed evenly. Let's create a DataFrame with the numbers from 1 to 12.
```
val x = (1 to 12).toList
val numbersDf = x.toDF("number")
```
numbersDf contains 4 partitions on my machine.
numbersDf.rdd.partitions.size // => 4
Here is how the data is divided on the partitions:
```
Partition 00000: 1, 2, 3
Partition 00001: 4, 5, 6
Partition 00002: 7, 8, 9
Partition 00003: 10, 11, 12
```
Let's do a full-shuffle with the repartition method and get this data on two nodes.
```
val numbersDfR = numbersDf.repartition(2)
```
Here is how the numbersDfR data is partitioned on my machine:
```
Partition A: 1, 3, 4, 6, 7, 9, 10, 12
Partition B: 2, 5, 8, 11
```
The repartition method makes new partitions and evenly distributes the data in the new partitions (the data distribution is more even for larger data sets).

** Difference between coalesce and repartition **

coalesce uses existing partitions to minimize the amount of data that's shuffled.  repartition creates new partitions and does a full shuffle.  coalesce results in partitions with different amounts of data (sometimes partitions that have much different sizes) and repartition results in roughly equal sized partitions.

** Is coalesce or repartition faster? **

coalesce may run faster than repartition, but unequal sized partitions are generally slower to work with than equal sized partitions. You'll usually need to repartition datasets after filtering a large data set. I've found repartition to be faster overall because Spark is built to work with equal sized partitions.

# select和indexing
* df["xxx"] 和 df.select("xxx") 不同select返回的是DataFrame，直接indexing返回的是column对象

In [38]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
schema = StructType([StructField("name", StringType(), True),
                     StructField("age", IntegerType(), True),
                     StructField("salary", DoubleType(), True)])
df = spark.createDataFrame(data=[("a", 1, 100.0), ("b", 2, 200.0)], schema=schema)
print( df.select("name"), '\t', df["name"] )

DataFrame[name: string] 	 Column<b'name'>

# 返回DataFrame的基本统计数据

In [43]:
df.describe().show()

+-------+----+------------------+-----------------+
|summary|name|               age|           salary|
+-------+----+------------------+-----------------+
|  count|   2|                 2|                2|
|   mean|null|               1.5|            150.0|
| stddev|null|0.7071067811865476|70.71067811865476|
|    min|   a|                 1|            100.0|
|    max|   b|                 2|            200.0|
+-------+----+------------------+-----------------+

In [41]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: double (nullable = true)

# Dealing with missing data

In [45]:
df = spark.createDataFrame(data = [('emp1', 'John', None), ('emp2', None, None), 
              ('emp1', None, 345.0), ('emp1', 'Cindy', 456.0)], schema = StructType([StructField("pos", StringType(), True),
     StructField("name", StringType(), True),
     StructField("salary", DoubleType(), True)]))
df.show()

+----+-----+------+
| pos| name|salary|
+----+-----+------+
|emp1| John|  null|
|emp2| null|  null|
|emp1| null| 345.0|
|emp1|Cindy| 456.0|
+----+-----+------+

In [46]:
df.na.drop().show()

+----+-----+------+
| pos| name|salary|
+----+-----+------+
|emp1|Cindy| 456.0|
+----+-----+------+

In [48]:
df.na.drop(thresh=2).show()

+----+-----+------+
| pos| name|salary|
+----+-----+------+
|emp1| John|  null|
|emp1| null| 345.0|
|emp1|Cindy| 456.0|
+----+-----+------+

In [49]:
df.na.drop(subset=['salary']).show()

+----+-----+------+
| pos| name|salary|
+----+-----+------+
|emp1| null| 345.0|
|emp1|Cindy| 456.0|
+----+-----+------+

In [50]:
df.printSchema()
df.na.fill('FILL VALUE').show()

root
 |-- pos: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)

+----+----------+------+
| pos|      name|salary|
+----+----------+------+
|emp1|      John|  null|
|emp2|FILL VALUE|  null|
|emp1|FILL VALUE| 345.0|
|emp1|     Cindy| 456.0|
+----+----------+------+

In [51]:
df.printSchema()
df.na.fill(0).show()

root
 |-- pos: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)

+----+-----+------+
| pos| name|salary|
+----+-----+------+
|emp1| John|   0.0|
|emp2| null|   0.0|
|emp1| null| 345.0|
|emp1|Cindy| 456.0|
+----+-----+------+

In [52]:
df.printSchema()
df.na.fill('No name', subset=['Name']).show()

root
 |-- pos: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)

+----+-------+------+
| pos|   name|salary|
+----+-------+------+
|emp1|   John|  null|
|emp2|No name|  null|
|emp1|No name| 345.0|
|emp1|  Cindy| 456.0|
+----+-------+------+

In [55]:
from pyspark.sql.functions import mean
df.na.fill( df.select(mean(df['salary'])).collect()[0][0], subset=['salary'] ).show()

+----+-----+------+
| pos| name|salary|
+----+-----+------+
|emp1| John| 400.5|
|emp2| null| 400.5|
|emp1| null| 345.0|
|emp1|Cindy| 456.0|
+----+-----+------+

# 对数据进行shuffle操作

In [5]:
df = spark.createDataFrame(data = [('a', 1, 18), ('b', 2, 22), ('c', 3, 20), ('d', 4, 10)])
df.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  a|  1| 18|
|  b|  2| 22|
|  c|  3| 20|
|  d|  4| 10|
+---+---+---+

In [7]:
from pyspark.sql.functions import rand
shuffledDF = df.orderBy(rand())
shuffledDF.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  b|  2| 22|
|  a|  1| 18|
|  d|  4| 10|
|  c|  3| 20|
+---+---+---+